@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundColor: #1B1F25;
  --navbarColor: #303644;
  --textColor: #999999;
  --whiteColor: #FFFFFF;
  --separatorColor: #777777;
  --themeColor: #2457C5;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--backgroundColor);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}