@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundColor: #1B1F25;
  --navbarColor: #303644;
  --textColor: #999999;
  --separatorColor: #777777;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}